/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2016, 10:16:35 AM
    Author     : agencydelta
*/
body{
    background: #DADADA;
    margin:0;
    padding:0;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Arimo', sans-serif;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
    margin:0;			   
}	
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
/*----*/
.header{
    background: #215E61;
    min-height: 60px;
    padding: 1em;
    position: relative;
}
.men{
    border-bottom:3px solid #009908;
}
.single{
    border-bottom:3px solid #00f507;
}
.header-left{
    float:left;
}
.top-menu{
    margin-top: 4px;
}
.logo{
    display:inline-block;
    position:absolute;
    left:40%;
}
.top-menu ul li{
    display:inline-block;
}
.top-menu a{
    display:block;
    padding:0.5em 0.5em 0 0.5em;
    color:#fff;
    text-decoration:none;
    font-size:1em;
    margin:0 5px;
    /*border-bottom:2px solid #1a1818;*/
}
.top-menu ul li a:hover,.top-menu ul li.active a{
    /*border-bottom:2px solid #fff;*/
}
.currency{
    margin-top:12px;
}
.currency i {
    width: 18px;
    height: 18px;
    background: url('../images/currency.png') no-repeat 0px 0px;
    display: inline-block;
    border-bottom:2px solid #1a1818;
}
.currency i:hover,.active i,.signin ul li.active a{
    border-bottom:2px solid #fff;
}

a i.c1{
    background-position: 0px 0px;
}
a i.c2{
    background-position: -20px 0px;
}
a i.c3{
    background-position: -40px 0px;
}
a i.c4{
    background-position: -60px 0px;
}
.signin ul li {
    display: inline-block;
    vertical-align:super;
}
.signin ul{
    display:inline-block;
}
.signin ul li {
    color:#fff;
    border-bottom:2px solid #1a1818;
}
.header-right{
    float:right;
}
.currency,.signin{
    display: inline-block;
}
.signin{
    margin-left:3em;
    border-bottom:2px solid #1a1818;
}
.well,.well-sm,.well-lg {
    background-color: white;
}
img.prodSize {
    width : 200px;
    height: 250px;
}
.cart-sec{
    vertical-align:super;
    display:inline-block;
    margin-right:3px;
}
.cart-sec a{
    color:#fff;
    text-decoration:none;
}
.cart-sec a:hover{
    color: #f1b63e;
}
.cart-sec a img{
    padding-bottom:3px;
}
.signin ul li a:hover {
    color: #f1b63e;
    border-bottom:2px solid #f1b63e;
}
.signin ul li a {
    margin-right: 5px;
}
.signin ul li a{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
/*--- slider-css --*/
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.banner-info{
    width: 56%;
    position: absolute;
    top: 35%;
    left: 20%;
    text-align:center;
}
.banner-info h3{
    color: #FFF;
    font-weight: 700;
    font-size:5em;
    text-transform: uppercase;
}
.banner-info p{
    color: #FFF;
    line-height: 1.5em;
    font-size: 1.2em;
    width:70%;
    margin:0 auto;
    text-align: center;
    padding:1em 0 1.5em 0;
}
/*--tabs--*/
/*-- tabs-responsive --*/
.tab-section{
    background:#efefef;
    padding:3em 0;
}
.wrap{
    width:90%;
    margin:0 auto;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin:3em 0;
}
.nbs-flexisel-item > img {
    cursor: pointer;
    position: relative;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    margin-top:2%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0 auto;
    width:100%;
}
.nbs-flexisel-item {
    float: left;
    margin:0px;
    padding:0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
    display:inline;	  
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width:20px;
    height:20px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 172px!important;
}
.nbs-flexisel-nav-left {
    left: -3em;
    background: url(../images/LR.png) 0px 0px no-repeat;
}
.nbs-flexisel-nav-right {
    right: -3em;
    background: url(../images/LR.png) -21px 0px no-repeat;
}
/*-----*/
/*-- caption-css --*/
.g1{
    position:relative;
}
.g1:hover div.caption{
    display:block;
}
.caption{
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 999;
    top:0%;
    left:0%;
    background:rgba(26, 24, 24, 0.84);
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transform-style:preserve-3d;
    display:none;
}
.caption span{
    background:url(../images/plus.png) no-repeat;
    width:22px;
    height:22px;
    display:inline-block;
    float:right;
    margin:2em;
}
.caption h3{
    color:#fff;
    font-size:1.3em;
    margin-top:9em;
}
.caption h5{
    font-size:0.9em;
    color:#fff;
    margin-top:1em;
}
/*----*/
.navigation{
    padding:3em 0 0 0;
}
.navigation ul li{
    display:inline-block;
}
.navigation ul li a{
    color:#535151;
    font-size:1.1em;
    font-weight:600;
    padding:0 1em;
    display:block;
    margin:0 5px;
    text-decoration:none;
}
.navigation ul li a:hover{
    color:#f1b63e;
}
.footer{
    background:#1a1818;
    padding:3em 0;
}
.footer p{
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
    float: left;
    width: 67%;
    text-align: right;
    margin-top: 8px;
}
.footer p a{
    color:#fff;
}
.footer p a:hover{
    color:#dea844;
}
.social{
    float: right;
    width: 13%;
}
.social span{
    background: url(../images/social.png) no-repeat 0px 0px;
    width: 32px;
    height: 35px;
    display:inline-block;
    margin-bottom: 0.7em;
}
a span.icon1 {
    background-position: 0px 0px;
}
a span.icon2 {
    background-position: -31px -2px;
}
a span.icon3 {
    background-position: -66px -2px;
}
a span.icon4 {
    background-position: -109px -4px;
}
a span.icon1:hover{
    background-position: 0px -43px;
}
a span.icon2:hover{
    background-position: -31px -43px;
}
a span.icon3:hover{
    background-position: -66px -42px;
}
a span.icon4:hover{
    background-position: -109px -41px;
}



.lang_switch_border{
    border: 1px solid #86CCD4;
    padding: 0px 5px;
}
.switch {
    position: relative;
    height: 26px;
    width: 100px;
    /*border: 1px solid #86CCD4;*/
    background: rgba(0, 0, 0, 0.25);
    /*border-radius: 3px;*/
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 50px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}
.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}


.switch-input {
    display: none;
}
.switch-input:checked + .switch-label {
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: color, text-shadow;
    -moz-transition-property: color, text-shadow;
    -ms-transition-property: color, text-shadow;
    -o-transition-property: color, text-shadow;
    transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 50px;
    /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    display: block;
    width: 48px;
    height: 22px;
    background-color: #33CCCC;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}


.search-box {
    position: relative;
    height: 40px; /* Define the search box height and width here */
    width: 100%;
}

.search-box .search-input {
    background-color: rgba(77, 176, 183, 0.9);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 10px;
    border: solid 1px #FFF;
    color: #FFF;
    outline: none;
    box-shadow: 0px 0px 3px 2px rgba(75,0,130,0);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-box .search-input:focus {
    border-color: #4b0082;
    box-shadow: 0px 0px 4px 2px rgba(75,0,130,0.15);
}

/* Placeholder */
.search-box .search-input::-webkit-input-placeholder { color: #bfbfbf; }
.search-box .search-input::-moz-placeholder          { color: #bfbfbf; opacity: 1; }
.search-box .search-input:-ms-input-placeholder      { color: #bfbfbf; }

/* Icon */
.search-box .search-icon {
    content: '';
    position: absolute;
    z-index: 0;
    top: 1px; /* Keep away */
    right: 1px; /* from */
    bottom: 1px; /* border */
    width: 50px;
    line-height: 38px; /* 40 - 1 - 1 */
    font-size: 20px;
    text-align: center;
    color: #FFF;
    transition: transform 0.2s ease;
}

/* Button */
.search-box .search-button {
    position: absolute;
    z-index: 1;
    top: -5px; /* using negative values, so that on touch */
    right: 1px; 
    bottom: -5px; /* devices it would be easier to hit */
    width: 50px;
    border: none;
    overflow: hidden; /* Just to be sure */
    opacity: 0; /* hidden */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 */
}




/** Special Offer **/
.no-padding-lr{
    padding-left: 0px;
    padding-right: 0px;
}
.humanPic{
    height: 100px;
    width: 100px;
}
.slideHeader{

}
.slideAuthor{
    padding: 20px;
    font-weight: bold;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: none;
    border: 1px solid #999;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 1px;
    border: 1px solid #999;
    background-color: #999;
}

.full-width{
    width: 100%;
}
.slideBox span{
    float: left;
}
.slideContent{
    position: relative;
    top: 20px;
}
.gray{
    height: auto;
    clear: both;
    background: #F2F2F2;
}
.carousel-indicators{
    position: absolute;
    bottom: -30px;
}

/** Special Offer END **/


.backLeft{
    background-color: #7a7a7a;
}

.backRight{
    background: url(../../resources/images/Banner.png) no-repeat center center;
}

.enterEmail {
    background-color:transparent !important;
    border:none !important;
}

.foot li:hover{
    color:white   !important;
}

.dropdown-menu{
    background: whitesmoke;
    padding:15px;
    margin-top: 19px;
}

.dropdown-menu > li{
    /*color: #FFFFFF;*/
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
    background-color: #2CADAD !important;
    color: #FFFFFF !important;
}


/* CHECKOUT PAGE */

.panel-info > .panel-heading-custom {
    background: #78C5CF; color: white;
    border: solid;

}
#confirmTimePanel {
    background: #FF8B10; color: white;
}

#confirmTimePanel {
    background: #00ABC5; color: white;
}

#orderPreview {
    background: #81DB66; color: white;

}

.checkoutBtn{
    border-radius: 45px;
    background: #E6BF70; color: white;
    padding: 5% ;
    font-size: 1px;
    margin: 5px;
}

.radio{
    margin: 2%; !important;
}

p{
    color: #333333;
    padding:1%;
    margin:1%;
}

.checkoutBtn#deliveryTimeBtn{
    margin-left: 65%; !important;
    padding: 1%; !important;
    font-size: 2%  ;
    color: #080808;
    margin-right:12%;
}


#orderDetailsCheckout tr:nth-last-child(-n+4) td{
    border: none;
}

#noBorderRight tr:nth-last-child(1) td{
    border: none;
}

#noBorderLeft tr:nth-last-of-type(thead){
    border:none;
    background:#101010;
}
.floatRight{
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

#orderDetailsCheckout{
    border: 2px solid #ddd;
    padding: 15px;
}

#stepOneContainer{
    margin: 55px;
}

#deliveryAddress{
    border: 2px solid #ddd;
    margin-left: 100px;
    margin-right: 100px;
    padding: 1%;
}


.padded{
    padding: 5px;
}

   .shopping-cart {
       margin: 0;
       padding-top: 20px;
       border-top: 1px solid #eee;
   }

.wrap{
    min-height: 600px;
}

.column-labels {
    display: none;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
}

.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.product-image {
    float: left;
    width: 10%;
}

.product-details {
    float: left;
    width: 30%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 20%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}


.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.product .product-image {
    text-align: center;
}
.product .product-image img {
    width: 80px;
}
.product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}
.product .product-quantity input {
    width: 40px;
}
.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
}
.product .remove-product:hover {
    background-color: #a44;
}


.welcome_msg{
    color: #FFF;
    margin-top: 8px;
}
.banner_content{
    margin-top: 6%;
    margin-bottom: 11%;
}
.card_facility{
    background: #FFF;
    min-height: 175px;
    border: 1px solid #d2d2d2;
}
.card_facility_icon_rx{
    border-radius: 50%;
    height: 119px;
    position: absolute;
    margin-top: -43px;
    border: 1px solid #ccc;
    background: url('../../resources/icons/Rx.png') no-repeat center;
    background-color: #f4f4f4;
}
.card_facility_icon_rx:hover{
    background: url('../../resources/icons/RxHover.png') no-repeat center;
    background-color: #86CCD4;
}
.card_facility_icon_fast{
    border-radius: 50%;
    height: 119px;
    position: absolute;
    margin-top: -43px;
    border: 1px solid #ccc;
    background: url('../../resources/icons/delivery.png') no-repeat center;
    background-color: #f4f4f4;
}
.card_facility_icon_fast:hover{
    background: url('../../resources/icons/deliveryHover.png') no-repeat center;
    background-color: #86CCD4;
}
.card_facility_icon_hy{
    border-radius: 50%;
    height: 119px;
    position: absolute;
    margin-top: -43px;
    border: 1px solid #ccc;
    background: url('../../resources/icons/hygienic.png') no-repeat center;
    background-color: #f4f4f4;
}
.card_facility_icon_hy:hover{
    background: url('../../resources/icons/hygienicHover.png') no-repeat center;
    background-color: #86CCD4;
}
.card_facility_icon_sa{
    border-radius: 50%;
    height: 119px;
    position: absolute;
    margin-top: -43px;
    border: 1px solid #ccc;
    background: url('../../resources/icons/savings.png') no-repeat center;
    background-color: #f4f4f4;
}
.card_facility_icon_sa:hover{
    background: url('../../resources/icons/savingsHover.png') no-repeat center;
    background-color: #86CCD4;
}

.card_facility_text{
    margin-top: 93px;
    font-weight: bold;
    font-size: 14px;
}
.card_facility_last{
    font-size: 12px;
    margin-top: 7px;
    padding-bottom: 18px;
    color: #BCBCBC;
}
.dis{
    background-color: #F0F0F0;
    margin: 65px 0px 65px 0px;
    padding: 33px 0px 16px 9px;
    font-size: 18px;
    color: #464646;
    height: 132px;
}
.disHover{
    background-color: #86CCD4;
    margin: 65px 0px 65px 0px;
    padding: 33px 0px 16px 9px;
    font-size: 18px;
    color: #FFF;
    height: 132px;
}
.dis2{
    background-color: #F4F4F4;
    margin: 65px 0px 65px 0px;
    padding: 33px 0px 16px 9px;
    font-size: 18px;
    color: #464646;
    height: 132px;
}
.disHover2{
    background-color: #86CCD4;
    margin: 65px 0px 65px 0px;
    padding: 33px 0px 16px 9px;
    font-size: 18px;
    color: #FFF;
    height: 132px;
}




.social-link a,.menu-link a{
    color: #FFFFFF;
}

.menu-link a:hover{
    text-decoration: underline;
}

.social-link,.copyright{
    margin-top: 25%;
}


.icon-btn {
    border-radius: 3.6rem;

    width: 3.6rem;
    height: 3.6rem;
    margin: 0 5px;

    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: #888888;
}

.icon-btn span{
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;

    position: absolute;
    left: 50%;
    top: 50%;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

.icon-btn:hover span{
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem;

}

.twitter span{
    background-color: #4099ff;
}

.facebook span{
    background-color: #3B5998;
}
.gplus span{
    background-color: #db5a3c;
}


.icon-btn i{
    color: white;
    /*background: white;*/
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top:0;
    z-index: 10;
    line-height: 3.6rem;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s ;
    transition: all 0.3s;


}

.icon-btn:hover .icon-twitter, .icon-btn:hover .icon-facebook, .icon-btn:hover .icon-google-plus{
    color: white;
    font-size: 2.6rem;
    line-height: 3.9rem;
}
li:hover{
    color:white   !important;
}

